<html>
  <div go:template="TagStaticAttrs"
       class="tag1">Content</div>

  <div go:template="TagStaticAttrs1">
    <div class="tag1">Content</div>
  </div>

  <div go:template="CallTagStaticAttrs">
    <div go:call="#TagStaticAttrs"></div>
  </div>

  <div go:template="CallTagStaticAttrs1">
    <div go:call="#TagStaticAttrs"
         class="tag2"></div>
  </div>

  <div go:template="CallTagStaticAttrs2">
    <div go:call="#TagStaticAttrs"
         go:attr="class: 'caller_tag'"
         class="tag2"></div>
  </div>

  <div go:template="CallTagStaticAttrs3">
    <div go:call="#TagStaticAttrs"
         go:omit-tag="true"
         go:attr="class: 'caller_tag'"
         class="tag2"></div>
  </div>

  <div go:template="CallTagStaticAttrs4">
    <div go:call="#TagStaticAttrs"
         go:omit-tag="false"
         go:attr="class: 'caller_tag'"
         class="tag2"></div>
  </div>

  <div go:template="CallTagStaticAttrs5">
    <div go:call="#TagStaticAttrs"
         go:omit-tag="1 == 1"
         go:attr="class: 'caller_tag'"
         class="tag2"></div>
  </div>

  <div go:template="CallTagStaticAttrs6">
    <div go:call="#TagStaticAttrs"
         go:omit-tag="1 == 2"
         go:attr="class: 'caller_tag'"
         class="tag2"></div>
  </div>
</html>
